.headerContainer {

    background-color: #ff9900;
}

.topHeader {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
        border: 1px red solid;
        justify-content: space-between;
}

.description {
    padding: 10px 30px 10px 30px;
    font-weight: bold;
font-size: calc(1vw + 1vh);
text-align: center;
margin-right: auto;
    margin-left: auto;
}

.benefits li {
    text-align: left;
}

.benefits {
    margin: auto;
    padding: 30px;
    width: 50vw;
    font-size: larger;
}



.linkHeading {
    text-align: center;
}

.categoryLinks {
    background-color: #ff9900;
}

.categoryLinkButton {
    background-color: orange;
    border: 1px black solid;
    text-align: center;
    padding: 5px;
    max-width: 100px;
    margin: 10px;
    border-radius: 20px;
}

.button {
    background-color: #ba2222 !important;
    font-weight: bold !important;
    color: white;
    margin: 5px !important;
}

.button:hover {
    background-color: black !important;
}

.button-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.section1 img {
    width: 300px;
}

@media (max-width: 500px) {
    .section1 img {
        width: 250spx;
    }

    .topHeader {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }

}