.headerContainer {
    background-color: var(--white);
    ;
}

.topHeader {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
}

.description {
    padding: 10px 30px 10px 30px;
    font-weight: bold;
    font-size: calc(1vw + 1vh);
    text-align: center;
        margin-right: auto;
    margin-left: auto;
    background-color: white;
}
.benefits {
    list-style-type: "\1F44D";
}
.benefits li {
    text-align: left;
    padding: 0px;
}

.benefits {
    margin: auto;
    padding: 5px;
    font-size: larger;
    background-color: white;
    line-height: 1.5em;
}




.section1 img {
    width: 400px;
    padding: 0px;
    
}

@media (max-width: 500px) {
    .section1 img {
        width: 250spx;
    }

    .topHeader {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    
}
}