li {
    list-style: none;
}
.schoolComponent {
height: 20vh;
    width: 80vw;
    display: flex;
background-color: orange;
    border: 2px white solid;
}

.infoBox {
height: 100%;
    width: 33vw;
    border: rgb(255, 0, 0) 1px solid;
}
