.schoolBanner {
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    max-width: 75vw;
    background-color: #ff9900;
    border: 1px solid black;
        border-radius: 10px;
        margin-bottom: 5px;
}

.schoolNameAddress {
    align-items: flex-start;
    max-width: 25vw;
}

.right-side {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    text-align: right;
}
.repContactContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.repImage {
    height: 74px;
    border-radius: 100%;


}

.repEmail {
    padding: 5px;
}
.subheading {
    margin-right: 0 !important;
}
.button {
    background-color: #ba2222 !important;
    font-weight: bold !important;

}

.button:hover {
    background-color: black !important;
}
.placeholder {
    text-align: center
}