:root {
    --brandOrange: #ff9900;
    --brandRed: #ba2222;

    --white: #ffffff;
}
.heading {
    text-align: center;
}
.searchContainer {
    border: 10px solid lightgrey;
        width: 80vw;
    margin-left: auto;
    margin-right: auto;
    max-height: 60vh;
    overflow: scroll;
    border-radius: 20px;
    padding: 10px;
    background-color: lightgray;
}
.search {
    width: 30%;
    min-width: 300px;
    margin: auto;
    padding: 10px;
}
.searchHeader {
    text-align: center;
}
.linkHeading {
    text-align: center;
    background-color: white;
}

.categoryLinks {
    background-color: #ffffff;
}

.categoryLinkButton {
    background-color: orange;
    border: 1px black solid;
    text-align: center;
    padding: 5px;
    max-width: 100px;
    margin: 10px;
    border-radius: 20px;
}

.button {
    background-color: #ba2222 !important;
    font-weight: bold !important;
    color: white;
    margin: 5px !important;
}

.button:hover {
    background-color: black !important;
}

.button-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: white !important
}
